.dashboard {
    user-select: none;
}

.dashboard-main {
    margin: 20px;
    height: 100%;
    border: solid 1px black;
    border-radius: 8px;
    background-color: #fff;
}

.dashboard-stat {
    padding: 10px;
    width: 100%;
    display: flex;
}

.dashboard-stat-table {
    width: 33%;
    padding: 20px 50px;
}

.stat-table {
    border: solid 1px black;

    .stat-title {
        padding: 5px;
        background-color: rgb(204, 209, 248);
        font-weight: bold;
        color: rgb(93, 116, 214);
    }

    .stat-value {
        border-top: 1px solid black;
        padding: 10px;
        text-align: right;
        font-size: 25px;
        font-weight: bold;
    }
}

.dashboard-chart {
    padding: 10px 20px;
    display: flex;

}

.dashboard-chart-table {
    width: 46%;
    height: 300px;
    padding: 10px 20px 30px 20px;
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 40px;
}

.dashboard-chart-header {}

.dashboard-chart-title {
    font-size: 16px;
    color: rgb(93, 116, 214);
    font-weight: bold;
    float: left;
}

.dashboard-chart-detail-btn {
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;


    .detail-icon {
        background-image: url("../../../public//img/arrow-right.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}