.preview-image-modal{
  width: 500px;
  height: 620px;
  border-top: 1px solid lightgray;
  margin: auto;
  padding: 20px;
}

.preview-image-title{
  list-style: disc;
  line-height: 1.8;
  margin: 0;
  padding-inline-start: 1.5em;

  >li{
    >span{
      position: relative;
      left: -2px;
      font-weight: bold;
    }
  }
}

.slick-dots.slick-thumb {
  bottom: -150px;
  margin-left: 0;
  user-select: none;
}

.slick-dots.slick-thumb li {
  width: 100px;
  height: 100px;
}

.slick-thumb li img{
  filter: grayscale(100%);
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.slick-thumb li.slick-active img{
  filter: grayscale(0);
}

.slick-slide .slick-active .slick-current{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.slick-current.slick-active {
  border: 1px solid blue;
}

.slider-container{
  padding: 18px;
}

.thumb-container{
  margin: auto;
  width: 90%;
}

.thumb-item{
  height: 100px;
  width: 100px;
  padding: 10px;
}

.slick-prev {
  left: -7% !important;
  z-index: 1;
}
.slick-next {
  right: -7% !important;
  z-index: 1;
}

.slick-prev::before, .slick-next:before{
  color: black !important;
}

.preview-image-modal-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchGlass-container{
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.searchGlass_icon{
  background-image: url("/public/img/magnifying-glass.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.searchGlass-container:active{
  background-color: lightgray;
}

.simple-search-info{
  width: 100%;
  height: 180px;
  background-color: #f7f7f7;
}

.simple-search-list{
  margin-top: 10px;
  width: 100%;
  height: 330px;
}

.simple-search-items{
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  overflow-y:scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.simple-search-items::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.simple-search-itemContainer{
  width: 105px;
  height: 125px;
  margin: 5px;
  border: 1px solid lightgray;
  padding: 2px;
}

.simple-search-imageContainer{
  width: 100%;
  height: 99px;
}

.simple-search-itemTitle{
  width: 100%;
  height: 20px;
  font-size: 14px;
  text-align: center;
}

.country-simple-search-info{
  width: 100%;
  background-color: #f7f7f7;
}

.country-simple-search-list{
  margin-top: 10px;
  width: 100%;
}

.country-simple-search-items{
  width: 100%;
  height: 300px;

  display: flex;
  flex-wrap: wrap;
  overflow-y:scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.country-simple-search-items::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.batch-container{
  width: 100%;
  height: 500px;
  background-color: #f7f7f7;
}


.batch-contents{
  font-size: 15px;
  padding: 10px;
}

.batch-item{
  display: flex;
  align-items: center;
  padding: 2px;
}

.personnel-search-modal{
  width: 500px;
  height: 620px;
  border-top: 1px solid lightgray;
  margin: auto;
}

.personnel-search-container{
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.personnel-search-list{
  padding: 20px;
}

.person-search-items{
  width: 100%;
  height: 330px;

  display: flex;
  flex-wrap: wrap;
  overflow-y:scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.person-search-items::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}