.search-main{
  user-select: none;
}

.search-container{
  
}

.search-title{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  width: 98%;
  margin: auto;
}

.search-controller{
  width: 98%;
  height: 100vh;
  margin: auto;
  background-color: white;
}

.search-header{
  padding: 0px;
  background-color: #6f96f7;
  font-size: 16px;
  font-weight: bold;
  height: 30px;

  .title{
    float: left;
    margin-left: 5px;
    margin-top: 3px;
  }

  .toggle{
    float: right;
    width: 180px;
    height: 100%;
    color: white;
    background-color: #064bfc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .toggle:active{
    background-color: #a3beff;
  }
}