.search-main{
  user-select: none;
}

.search-container{
  
}

.search-title{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  width: 98%;
  margin: auto;
}

.search-controller-container{
  width: 98%;
  height: 100%;
  margin: auto;
  background-color: white;
  margin-bottom: 5px;
}

.search-controller{
  background-color: #6f96f7;
}

.search-header{
  border: solid 1px lightgray;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  height: 30px;

  .title{
    float: left;
    margin-left: 5px;
    margin-top: 3px;
  }

  .toggle{
    float: right;
    width: 160px;
    height: 100%;
    color: white;
    background-color: #064bfc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .topArrow-icon{
      background-image: url("/public/img/topArrow.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      margin-left: 5px;
    }

    .downArrow-icon{
      background-image: url("/public/img/downArrow.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      margin-left: 5px;
    }
  }

  .toggle:active{
    background-color: #000000;
  }
}

.search-list{
  font-size: 14px;
  background-color: #F7F7F7;
}

.search-table{
  width: 100%;

  >tr >td:first-child{
    background-color: #6f96f7;
  }

  >tr >td{
    padding: 3px;

    >button{
      width: 80px;
      height: 30px;
      font-size: 14px;
      color: white;
      background-color: #064bfc;
      border: 0px;
      cursor: pointer;
      border-radius: 8px;
    }

    >button:active{
      background-color: black;
    }
  }
}

.search-table ,tr, td{
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.item-list-container{
  width: 98%;
  height: 100%;
  margin: auto;
  background-color: white;
  font-size: 16px;
}

.item-list-button-container{
  display: flex;
}

.item-list-button-radio{
  height: 35px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  

  >input{
    display: none;
  }

  >input[type="radio"]:checked + label{
    background-color: #064bfc;
    color: white;
  }

  >label{
    height: 80%;
    width: 120px;
    background-color: lightgray;
    color: black;
    border: 0px;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

.item-list-area{
  padding: 15px;
}

.item-list-result{
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;

  >p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.item-list-button-controller{
  display: flex;
  margin-bottom: 10px;

  .float-right{
    margin-left: auto;
  }
}

.normal-checkbox-lable{
  margin-right: 5px;
  display: inline-block;

  >input[type="checkbox"]{
    position: relative;
    top: 1.5px;
  }

  >input[type="number"]{
    position: relative;
    top: -1px;
    width: 50px;
    height: 20px;
    text-align: center;
    margin-left: 2px;
    
  }
  >input:focus {
    outline:none;
  }
}

.ag-pageCnt-select{
  width: 60px;
  height: 30px;
  outline: none;
  position: relative;
}

.image-list-area{
  >ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    >li{
      position: relative;
      width: 18%;
      float: left;
      margin: 10px;
      border: solid 1px black;
      box-shadow: 2px 2px 2px 2px rgb(220, 220, 220);
    }
  } 
}

.image-list-area-imageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  >img{
    width: 80%;
    height: 80%;
    box-shadow: 2px 2px 2px 2px rgb(220, 220, 220);
  }
}

.image-list-area-header{
  display: flex;
  justify-content: space-between;
}

.image-list-area-header-checkbox{
  width: 20px;
  height: 20px;

  >input[type="checkbox"]{
    margin-top: 4px;
    margin-left: 5px;
    padding: 0px;
    width: 80%;
    height: 80%;
  }
}

.image-list-area-title{
  text-align: center;
}

.image-list-area-header-more{
  width: 20px;
  height: 20px;
  
  .more-icon{
    background-image: url("/public/img/more.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0px;
    width: 20%;
    height: 80%;
    cursor: pointer;
  }
}

.btn-more-ul{
  position: absolute;
  right: 0;
  top: 20px;
  width: 120px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #fff;
  margin: 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;

  >li{
     list-style: none;
     padding: 0;
     margin: 0;

     >a{
        display: block;
        height: 40px;
        line-height: 39px;
        padding-left: 15px;
        font-size: 14px;
        color: #212121;
        text-decoration: none;
     }

     >a:hover{
        background: #f9f9f9;
     }
  }
}

.image-list-pagination{
  display: flex;
  justify-content: flex-end;
}